html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif courier;
    background-image: url("../Images/backgroundRW.jpg");
    background-repeat: no-repeat;
    background-color: #151515;
}

#all {
    width: 70%;
    height: 99%;
    margin: auto;
}

#header {
    width: 100%;
    height: 150px;
    margin: 0px auto auto auto;
    padding: 0px;
    top: 0px;
    background-image: url("../Images/Header_background_small_ATC.jpg");
    background-repeat: no-repeat;
    background-color: #ffd999;
    text-align: center;
}

#main {
    width: 100%;
    height: 75%;
    position: relative;
    margin: 0px auto;
    background-color: #f9f1e0;
    opacity: .7;
}

#startbutton {
    display: inline-block;
    position: absolute;
    margin: 0 0 0 30%;
    padding: 10px;
    top: 85%;
    width: 130px;
    height: 20px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: #40dd80;
    opacity: 1;
    color: #ff5041;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

#startbutton:active {
    padding: 10px;
    background-color: #20bb60;
}

#footer {
    width: 100%;
    height: 5%;
    margin: 0px auto;
    padding: 0px;
    top: 95%;
    color: #fff;
    font-family: times;
    background-color: #353535;
    opacity: .8;
    z-index: 1;
}

#date {
    display: inline-block;
    width: 50px;
    height: 15px;
    margin: 0px auto;
    text-align: center;
    float: right;
}

#email {
    display: inline-block;
    width: 150px;
    height: 15px;
    margin: 0px auto;
    text-align: center;
    float: left;
}

#about {
    width: 47%;
    height: 75%;
    padding: 10px;
    display: inline-block;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 14px;
    font-family: courier;
    border-right: 1px #cc4040;
}

#userguide {
    width: 47%;
    height: 75%;
    padding: 10px;
    display: inline-block;
    float: right;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 14px;
    font-family: courier;
    border-left: 1px #cc4040;
}

h3 {
    position: relative;
    width: 300px;
    text-align: center;
    color: #cc4040;
}