html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #105868;
}

#myCanvas {
  margin: 0px 310px 0px 0px;
  display: inline-block;
  float: right;
  background-color: #103848;
  background-repeat: no-repeat;
  background-size: contain;
}

#psFrame {
  position: relative;
  width: 100%;
  height: 390px;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  font-family: Arial;
  font-size: 12px;
  background: #ccc;
}

#controlPanel {
  width: 310px;
  height: 100%;
  display: inline-block;
  top: 0;
  right: 0;
  position: absolute;
  margin: 0px;
  background-color: #909090;
}

#instructionText {
  width: 145px;
}

#transmitBtn {
  float: left;
  display: inline-block;
  margin-bottom: 4px;
  width: 70px;
  padding: 3px 7px;
  border: outset 1px #202020;
  border-radius: 3px;
  color: #202020;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: none;
  background-color: #bbb;
  cursor: pointer;
}

#transmitBtn:active {
  background-color: #eee;
  border: inset 1px #505050;
}

#pauseBtn {
  float: right;
  display: inline-block;
  margin-bottom: 4px;
  width: 70px;
  padding: 3px 7px;
  border: outset 1px #202020;
  border-radius: 3px;
  color: #202020;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: none;
  background-color: #bbb;
  cursor: pointer;
}

#pauseBtn:active {
  background-color: #eee;
  border: inset 1px #505050;
}

#helpBtn {
  float: left;
  display: inline-block;
  margin-bottom: 4px;
  width: 70px;
  padding: 3px 7px;
  border: outset 1px #202020;
  border-radius: 3px;
  color: #202020;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: none;
  background-color: #bbb;
  cursor: pointer;
}

#helpBtn:active {
  background-color: #eee;
  border: inset 1px #505050;
}

#statsBtn {
  float: right;
  display: inline-block;
  margin-bottom: 4px;
  width: 70px;
  padding: 3px 7px;
  border: outset 1px #202020;
  border-radius: 3px;
  color: #202020;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: none;
  background-color: #bbb;
  cursor: pointer;
}

#statsBtn:active {
  background-color: #eee;
  border: inset 1px #505050;
}

#console {
  width: 143px;
  height: 200px;
  background-color: #eee;
  font-family: Arial;
  font-size: 12px;
}

#endBtn {
  display: block;
  margin: 0px auto 4px auto;
  width: 100px;
  padding: 3px 7px;
  border: outset 1px #202020;
  border-radius: 3px;
  color: #202020;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: none;
  background-color: #bbb;
  cursor: pointer;
}

#endBtn:active {
  background-color: #eee;
  border: inset 1px #505050;
}

#infoScreen {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 304px;
  height: 310px;
  display: none;
  overflow-y: auto;
  background-color: #ccc;
  font-family: Arial;
  font-size: 13px;
}

#statScreen {
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 405px;
  width: 304px;
  height: 310px;
  display: none;
  background-color: #ccc;
  font-family: Arial;
  font-size: 13px;
}

#endTable {
  width: 90%;
}

#backbtn {
  width: 110px;
  height: 18px;
  margin: auto;
  border: 1 solid black;
  border-radius: 3px;
  background-color: #ddd;
  font-size: 14px;
}

#backbtn:active {
  background-color: #eee;
}

.returnButton {
  margin: 5px auto 10px auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #709090;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 13%;
}

.endModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.endModal-content {
  background-color: #709090;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 25%;
  color: white;
}

.endTd {
  width: 250px;
}

.endTd2 {
  width: 20px;
}

.psArrival {
  margin: 2px 0px 2px 0px;
  padding: 0px;
  height: 34px;
  display: block;
  cursor: pointer;
  background-color: #fce4d6;
}

.psArrival:active {
  background-color: #fff;
}

.psDeparture {
  margin: 2px 0px 2px 0px;
  padding: 0px;
  height: 34px;
  display: block;
  cursor: pointer;
  background-color: #c1eede;
}

.psDeparture:active {
  background-color: #fff;
}

.flightData {
  font-family: Arial;
  font-size: 12px;
}

.pad3 {
  padding: 3px;
}

.block2 {
  height: 2px;
  font-size: 1px;
  line-height: 1px;
}

.block4 {
  height: 4px;
  font-size: 1px;
  line-height: 1px;
}

.block10 {
  height: 10px;
  font-size: 1px;
  line-height: 1px;
}

.panels {
  width: 155px;
  height: 405px;
  display: inline-block;
  float: left;
  position: relative;
  background-color: #909090;
}

.pstd {
  width: 90px;
}

h5 {
  margin: 5px 2px 2px 2px;
  font-weight: bold;
  font-family: Courier;
}

h6 {
  margin: 2px;
  font-size: 12px;
  font-weight: bold;
  font-family: Courier;
}
